body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Arial", sans-serif;
}

nav {
  background-color: #1f2937;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 128px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.main-hero {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 32px 128px;
  gap: 32px;
}

.sign-up-info {
  max-width: 768px;
}

.main-hero h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.main-hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 24px;
}

.main-hero button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #3882f6;
  padding: 12px 16px;
  border-radius: 10%;
  font-size: 20px;
  font-weight: 900;
  color: #f9faf8;
}

.main-hero img {
  align-self: center;
  width: 512px;
  height: auto;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 128px;
}

.information-container h2 {
  font-size: 36px;
  text-align: center;
}

.info-card-container {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-container .info-card .img-container {
  width: 168px;
  height: 168px;
  border: 3px solid #3882f6;
  border-radius: 5%;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 72px;
}

.quote-container h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quote-container p {
  font-weight: bold;
  text-align: end;
  font-size: 24px;
}
